gcafePrnDebug/Service References/ServiceReference1/gcafePrn.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="gcafePrn" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IgcafePrn_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9001/gcafePrnSvc/Mex?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9001/gcafePrnSvc/Mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IgcafePrn_PrintLiuTai_InputMessage">
    <wsdl:part name="parameters" element="tns:PrintLiuTai" />
  </wsdl:message>
  <wsdl:message name="IgcafePrn_PrintLiuTai_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrintLiuTaiResponse" />
  </wsdl:message>
  <wsdl:message name="IgcafePrn_PrintHuaDan_InputMessage">
    <wsdl:part name="parameters" element="tns:PrintHuaDan" />
  </wsdl:message>
  <wsdl:message name="IgcafePrn_PrintHuaDan_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrintHuaDanResponse" />
  </wsdl:message>
  <wsdl:message name="IgcafePrn_PrintChuPing_InputMessage">
    <wsdl:part name="parameters" element="tns:PrintChuPing" />
  </wsdl:message>
  <wsdl:message name="IgcafePrn_PrintChuPing_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrintChuPingResponse" />
  </wsdl:message>
  <wsdl:message name="IgcafePrn_PrintChuPingCui_InputMessage">
    <wsdl:part name="parameters" element="tns:PrintChuPingCui" />
  </wsdl:message>
  <wsdl:message name="IgcafePrn_PrintChuPingCui_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrintChuPingCuiResponse" />
  </wsdl:message>
  <wsdl:portType name="IgcafePrn">
    <wsdl:operation name="PrintLiuTai">
      <wsdl:input wsaw:Action="http://tempuri.org/IgcafePrn/PrintLiuTai" message="tns:IgcafePrn_PrintLiuTai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IgcafePrn/PrintLiuTaiResponse" message="tns:IgcafePrn_PrintLiuTai_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrintHuaDan">
      <wsdl:input wsaw:Action="http://tempuri.org/IgcafePrn/PrintHuaDan" message="tns:IgcafePrn_PrintHuaDan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IgcafePrn/PrintHuaDanResponse" message="tns:IgcafePrn_PrintHuaDan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrintChuPing">
      <wsdl:input wsaw:Action="http://tempuri.org/IgcafePrn/PrintChuPing" message="tns:IgcafePrn_PrintChuPing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IgcafePrn/PrintChuPingResponse" message="tns:IgcafePrn_PrintChuPing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrintChuPingCui">
      <wsdl:input wsaw:Action="http://tempuri.org/IgcafePrn/PrintChuPingCui" message="tns:IgcafePrn_PrintChuPingCui_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IgcafePrn/PrintChuPingCuiResponse" message="tns:IgcafePrn_PrintChuPingCui_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IgcafePrn" type="tns:IgcafePrn">
    <wsp:PolicyReference URI="#NetTcpBinding_IgcafePrn_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="PrintLiuTai">
      <soap12:operation soapAction="http://tempuri.org/IgcafePrn/PrintLiuTai" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintHuaDan">
      <soap12:operation soapAction="http://tempuri.org/IgcafePrn/PrintHuaDan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintChuPing">
      <soap12:operation soapAction="http://tempuri.org/IgcafePrn/PrintChuPing" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintChuPingCui">
      <soap12:operation soapAction="http://tempuri.org/IgcafePrn/PrintChuPingCui" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="gcafePrn">
    <wsdl:port name="NetTcpBinding_IgcafePrn" binding="tns:NetTcpBinding_IgcafePrn">
      <soap12:address location="net.tcp://localhost:9000/gcafePrnSvc/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9000/gcafePrnSvc/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>