gcafeApp/Service References/gcafeSvc/gcafeSvc1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="gcafeSvc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.11.6:47773/gcafeSvc.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.11.6:47773/gcafeSvc.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.11.6:47773/gcafeSvc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/gcafeWeb" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IgcafeSvc_GetMenuCatalogs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuCatalogs" />
  </wsdl:message>
  <wsdl:message name="IgcafeSvc_GetMenuCatalogs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuCatalogsResponse" />
  </wsdl:message>
  <wsdl:message name="IgcafeSvc_GetMenuItemsByCatalogId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuItemsByCatalogId" />
  </wsdl:message>
  <wsdl:message name="IgcafeSvc_GetMenuItemsByCatalogId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuItemsByCatalogIdResponse" />
  </wsdl:message>
  <wsdl:message name="IgcafeSvc_GetMenuItemByNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuItemByNumber" />
  </wsdl:message>
  <wsdl:message name="IgcafeSvc_GetMenuItemByNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuItemByNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IgcafeSvc_GetStaffByNum_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStaffByNum" />
  </wsdl:message>
  <wsdl:message name="IgcafeSvc_GetStaffByNum_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStaffByNumResponse" />
  </wsdl:message>
  <wsdl:portType name="IgcafeSvc">
    <wsdl:operation name="GetMenuCatalogs">
      <wsdl:input wsaw:Action="http://tempuri.org/IgcafeSvc/GetMenuCatalogs" message="tns:IgcafeSvc_GetMenuCatalogs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IgcafeSvc/GetMenuCatalogsResponse" message="tns:IgcafeSvc_GetMenuCatalogs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMenuItemsByCatalogId">
      <wsdl:input wsaw:Action="http://tempuri.org/IgcafeSvc/GetMenuItemsByCatalogId" message="tns:IgcafeSvc_GetMenuItemsByCatalogId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IgcafeSvc/GetMenuItemsByCatalogIdResponse" message="tns:IgcafeSvc_GetMenuItemsByCatalogId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMenuItemByNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IgcafeSvc/GetMenuItemByNumber" message="tns:IgcafeSvc_GetMenuItemByNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IgcafeSvc/GetMenuItemByNumberResponse" message="tns:IgcafeSvc_GetMenuItemByNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStaffByNum">
      <wsdl:input wsaw:Action="http://tempuri.org/IgcafeSvc/GetStaffByNum" message="tns:IgcafeSvc_GetStaffByNum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IgcafeSvc/GetStaffByNumResponse" message="tns:IgcafeSvc_GetStaffByNum_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IgcafeSvc" type="tns:IgcafeSvc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMenuCatalogs">
      <soap:operation soapAction="http://tempuri.org/IgcafeSvc/GetMenuCatalogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuItemsByCatalogId">
      <soap:operation soapAction="http://tempuri.org/IgcafeSvc/GetMenuItemsByCatalogId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuItemByNumber">
      <soap:operation soapAction="http://tempuri.org/IgcafeSvc/GetMenuItemByNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStaffByNum">
      <soap:operation soapAction="http://tempuri.org/IgcafeSvc/GetStaffByNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="gcafeSvc">
    <wsdl:port name="BasicHttpBinding_IgcafeSvc" binding="tns:BasicHttpBinding_IgcafeSvc">
      <soap:address location="http://192.168.11.6:47773/gcafeSvc.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>