gcafeApp/Service References/gcafeSvc/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/gcafeFoxproSvc" />
  <xs:element name="GetMenuCatalogs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rootCata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuCatalogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/gcafeFoxproSvc" minOccurs="0" name="GetMenuCatalogsResult" nillable="true" type="q1:ArrayOfMenuCatalog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuItemsByCatalogId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cataId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuItemsByCatalogIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/gcafeFoxproSvc" minOccurs="0" name="GetMenuItemsByCatalogIdResult" nillable="true" type="q2:ArrayOfMenuItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuItemByNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuItemByNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/gcafeFoxproSvc" minOccurs="0" name="GetMenuItemByNumberResult" nillable="true" type="q3:MenuItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TableOpr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceId" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/gcafeFoxproSvc" minOccurs="0" name="tableInfo" nillable="true" type="q4:TableInfo" />
        <xs:element minOccurs="0" name="oldTableNum" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/gcafeFoxproSvc" minOccurs="0" name="oprType" type="q5:TableOprType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TableOprResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/gcafeFoxproSvc" minOccurs="0" name="TableOprResult" nillable="true" type="q6:TableInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTablesInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTablesInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/gcafeFoxproSvc" minOccurs="0" name="GetTablesInfoResult" nillable="true" type="q7:ArrayOfTableInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsTableAvaliable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsTableAvaliableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsTableAvaliableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMethods">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMethodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/gcafeFoxproSvc" minOccurs="0" name="GetMethodsResult" nillable="true" type="q8:ArrayOfMethod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMethodCatalogs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMethodCatalogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/gcafeFoxproSvc" minOccurs="0" name="GetMethodCatalogsResult" nillable="true" type="q9:ArrayOfMethodCatalog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderMeal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="staffId" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/gcafeFoxproSvc" minOccurs="0" name="tableInfo" nillable="true" type="q10:TableInfo" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/gcafeFoxproSvc" minOccurs="0" name="meals" nillable="true" type="q11:ArrayOfMenuItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderMealResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderMealResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderDetailByOrderNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderDetailByOrderNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/gcafeFoxproSvc" minOccurs="0" name="GetOrderDetailByOrderNumResult" nillable="true" type="q12:ArrayOfMenuItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableOrderCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableOrderCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTableOrderCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaffByNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Num" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaffByNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/gcafeFoxproSvc" minOccurs="0" name="GetStaffByNumResult" nillable="true" type="q13:Staff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>